<h1 align = "center">Student Survey Records</h1><br>
<button type="button" class="btn btn-default" (click) = "backToHomePage()" class = "btnCSS" 
                >Back to Home Page</button><br><br>
<table class = "table table-striped table-hover">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Telephone</th>
            <th>Email</th>
            <th>Date Of Survey</th>
            <th>Most Liked</th>
            <th>Source of Interest</th>
            <th>Recommendation</th>
        </tr>
    </thead>

    <tr *ngFor = "let record of recordList">
        <td>{{record.firstName}}</td>
        <td>{{record.lastName}}</td>
        <td>{{record.address}}</td>
        <td>{{record.city}}</td>
        <td>{{record.state}}</td>
        <td>{{record.zip}}</td>
        <td>{{record.telephone}}</td>
        <td>{{record.email}}</td>
        <td>{{record.dateOfSurvey}}</td>
        <td>{{record.mostLiked}}</td>
        <td>{{record.sourceOfInterest}}</td>
        <td>{{record.recommendation}}</td>

</table>